###############################################

[loggers]
keys=root,mobim

[logger_root]
level=INFO
handlers=handmobim

[logger_mobim]
handlers=handmobim
qualname=mobim_error
propagate=0

###############################################

[handlers]
keys=handmobim

[handler_handmobim]
class=handlers.RotatingFileHandler
level=ERROR
formatter=formmobim
args=('log/mobim_yunwei_error.log', 'a', 10*1024*1024, 5)

###############################################

[formatters]
keys=formmobim

[formatter_formmobim]
format=[%(asctime)s] %(levelname)s %(name)s: %(message)s [in %(pathname)s:%(lineno)d]
datefmt=%Y-%m-%d %H:%M:%S
